* {
  box-sizing: border-box;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  background: #82D5F0;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #BEF752;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ffec6f;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #82D5F0;
  padding-left: 20px;
}

/* GardenPi device */
.gsimage {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
} 

/*Centering an image*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.right {
  display:block;
  margin-right: 70px;;
  width: 40%
}

.left {
  display:block;
  margin-left: 60px;
  width: 40%;
}

/*Stylized bullet points*/
ul.b {
  list-style-type: square;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #333;
  color: white;
  margin-top: 20px;
}

/*Grid Layout- specific to page 2 for seeing testing images*/
/*Column*/
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/*Column Images*/
.column img {
  margin-top: 12px;
}

/*Fade in Overlay- specific to page 2 for identifying sick/healthy plants*/
/*Container*/
.container {
  position: relative;
  width: 50%;
}

/*image specifications for overlay*/
.overlay img {
  display: block;
  width: 70%;
  height: auto;
}

/*transition*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

/*actual transition to opaque*/
.container:hover .overlay {
  opacity: .7;
}

/*visible text*/
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}